/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the directory for the theme root used to locate images, fonts etc.
$theme-root: '..';

// Set other directories relative to theme root.
$image-path: '#{$theme-root}/images';
$icon-font-path: '#{$theme-root}/bootstrap/assets/fonts/bootstrap/';

$color: #52575C;
$blue: #62B6CB;

// slate-grey: #596d73;
// --turquoise-blue: #0098be;
// --light-blue-grey: #e4f3f8;
// --medium-pink: #f65890;
// --medium-blue: #3266bd;
// --lavender-blue: #7799f6;
// --blue-fonce: #3468bf;
// --blue-light: #e4f3f8;
// --blue: #0098be;
// --gray: #596d73;
// --gray1: #393939;
// --gray2: #9fa2a3;
// --pink: #f65890;
// --pink2: #f69;
// --white: #fff;



// --font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
// --font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
// --font-baloo-2: "Baloo 2",cursive;
// --font-comfortaa: "Comfortaa",cursive;
