
.icone-facebook {
    background-image: url("https://img.icons8.com/metro/26/ffffff/linkedin.png") !important;
    background-size:contain !important ;
    background-repeat: no-repeat !important;
    width: 30px !important;
    height: 30px !important;
    margin-left: 30px;
}
.icone-instagram {
    background-image: url("https://img.icons8.com/metro/26/ffffff/instagram-new.png") !important;
    background-size: contain !important ;
    background-repeat: no-repeat !important;
    width: 30px !important;
    height: 30px !important;
    margin-left: 30px;
}
.icone-twitter {
    background-image: url("https://img.icons8.com/metro/26/ffffff/twitter.png") !important;
    background-size: contain !important ;
    background-repeat: no-repeat !important;
    width: 30px !important;
    height: 30px !important;
    margin-left: 30px;
}

.menu {
    display: flex !important;
    justify-content: center;
    margin-top: 40px;
    
}
.footer.container{
    background-color:#393939 ;
    width: 100%;
}
.blog-field.is-active{
            color:white !important;
            background-color: #f69;
            border-radius: 30px;  
            right:210px;
            bottom: 23px;

}
.contact-field.is-active{
            color:white !important;
            background-color: #f69;
            border-radius: 30px;
           
            right:210px;
            bottom: 23px;
}
.menu .is-active {

}
.cards-duration {
    background-image: url("https://img.icons8.com/nolan/64/project.png") !important;
    background-size:contain !important ;
    background-repeat: no-repeat !important;
    width: 70px !important;
    height: 70px !important;
    // margin-left: 30px;
}