header {
  display: flex;
  text-align: center;
  // margin-right: 12px;
}

#dropdownMenu1 {
  background: #f69 !important;
  font-size: 16px;
  color: white !important;
  border-radius: 50%;
  border: none !important;
  width: 50px;
  height: 50px;
  padding: 0;
  overflow: hidden;  //float: right;

}

#search-block-form {
  display: flex !important;
  justify-content: center !important;
  padding: 6px !important;
  right: 280px !important;
}

#block-flydeer-account-menu .dropdown{
 display: flex;
 right:-320px
}
