// navbar
.navbar-nav {
  li {
    a {
      color: #596d73;
      &:hover,
      &:focus {
        background-color: #f69;
        color: white;
      }
    }
  }
}

#navbar {
  border: 5px solid #e4f3f8;
  width: 100%;
  position: sticky;
  margin-top: -20px;
  background-color: #e4f3f8 !important;
  border-color: transparent;
}

.navbar-default .navbar-nav {
  li {
    a {
      color: white !important;
      background-color: #f69;
      border-radius: 30px;
      right: 210px;
      bottom: 23px;
    }
  }
}
#navbar {
  .region.region-navigation-collapsible,
  .logo {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-right: 0px;
  }
}
.logo {
  margin-left: 91%;
  padding-left: 40%;
}
// .form-control {
//   border-radius: 30px !important;
//   border-radius: 30px !important;
//   border: none #ffffff !important;
// }
i.better_search {
  visibility: hidden;
}
.button.js-form-submit.form-submit.btn-primary.btn.icon-only {
  height: 27px;
  background-color: transparent;
  border: none;
  margin-top: 8px;
}
.form-search.form-control,
.input-group-btn {
  margin-left: 100%;
}
#navbar .region.region-navigation-collapsible,
#navbar .dropdown,
#navbar .logo {
  margin-right: -250px;
}
#navbar .region.region-navigation-collapsible,
#navbar .dropdown {
  padding-bottom: 20px;
}
.js-form-type-search input.form-search {
  background-color: #ffffff;
}
