// pagination
$color: #52575c;
$blue: #62b6cb;
.pagination {
  .active {
    a {
      background-color: #f69 !important;
      color: white !important;
      border-color: #f69 !important;
      &:hover,
      &:focus {
        background-color: white !important;
        color: $color !important;
      }
      span {
        &:hover,
        &:focus {
          background-color: $blue !important;
          color: $color !important;
        }
      }
    }
  }
  li {
    a,
    span {
      color: $color !important;
    }
  }
}
.text-center {
  text-align: left !important;
}

.pagination a {
  margin-right: 4px;
}

#AddButton {
  background-image: url("https://img.icons8.com/ios-filled/50/4a90e2/plus-2-math.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
}

.use-ajax img {
  vertical-align: middle;
  position: relative;
  float: right;
  top: -130px;
}
.entity-meta.tab-content.vertical-tabs-panes,
.vertical-tab-button.first.active.selected,
.vertical-tab-button.last {
  visibility: hidden;
}
#drupal-modal--dialog {
  position: fixed;
  top: 20%;
  right: 40%;
}
.button.button--primary.js-form-submit.form-submit.btn-success.btn.icon-before.btn-default{
  background-color: #5FA8D3;
  border-color: #5FA8D3;
  color: #ffffff;
}
.button.js-form-submit.form-submit.btn-default.btn.icon-before{
  color: #FF6699;
  border-color: #FF6699;
  letter-spacing: 0.2px;
}
.control-label {
  width: 100%;
}
