
$color: #52575C;
$blue: #62B6CB;
.pagination {
    
   .active{       
       a{
        background-color: #f69 !important;
        color:white !important;
        border-color: #f69 !important;
       &:hover, &:focus{
        background-color: white !important;
        color:$color !important;
       }
       span{
        &:hover, &:focus {
            background-color: $blue !important;
            color:$color !important;
        }
       }
       } 
   }
   li{
       a,span{
           color: $color !important;
           
       }      
   }  
 
}         
       .text-center {
    text-align: left !important;
} 
   
  
   
  
  

